li {
	font-size: 50px;
	list-style: square;
	list-style-image: url(img/check.png);
	list-style-position: inside;

}	

body {
	counter-reset: lista;
}

li:after {
		content: counter(lista) url(img/estrella.png);
		counter-increment: lista;
		

	}