* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #333333;
}


div {
	width: 135px;
	height: 135px;
	/* font-weight: bolder; */
	font-family: Arial;
	font-size: 20px;
}

#contentCuadrados {
	position: absolute;
	
}

#amarrillo {
	background-color: #FFCC00;
	position: absolute;
}

#naranja {
	background-color: #FF3300;
		position: absolute;
		left: 135px;
		top: 135px;
}



#violeta {
	background-color: #660066;
	position: absolute;
	left: 135px;
	top: 135px;
}


#rojo {
	background-color: #CC0001;
	position: absolute;
	left: 135px;
	top:135px;

}