*{
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100px;
	background: #333333;
	color: white;
}



nav {
	width: 100%;
	height: 25px;
	background: #FD3466;	
}


nav ul li {
	list-style-type: none;
	float: left;
	margin-left: 5%;
	background-color: #FD3466;
	text-decoration: none;
}

nav a {
	text-decoration: none;
	color: black;
	/*
	overflow: initial;
	*/
}



#colum1{
	
	width: 23.33%;
	height: 650px;
	background: #EFAABC;
	float: left;
	

}


#colum1 ul {
	padding-top: 50%;
	padding-left: 30%;
}


#cuerpo {
	width: 53.33%;
	height: 650px;
	background: #D8D8D8;
	float: left;
}



#colum3{
	width: 23.33%;
	height: 650px;
	background: #EFAABC;
	float: left;

}


footer {
	width: 100%;
	height: 50px;
	background: #999999;
	clear: left;
	position: relative;

}

footer div {
	position: absolute;
	bottom: 0px;
	/*margin-top: 30px;
	*/
}