body{
	font-family: Verdana;
	font-size: 12px;
	color:#333;
}

#saludo{
	background-color: pink;
	border: 1px dashed red;
	color: red;
	font-family: Arial;
	font-size: 200%;
	font-weight: bold;
	padding: 10px;
}

#resultado{
	background-color: lightgreen;
	border: 1px dashed green;
	color: green;
	font-family: Arial;
	font-size: 200%;
	font-weight: bold;
	padding: 10px;
}
