nav {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	background-color: green;
}


ul {
	margin: 0 auto;
	height: 35px;
	width: 600px;
	border: 1px solid red;
	
	
}


a {
	text-decoration: none;
}

li {
	float: left;
	width: 100px;
	height: 30px;
	background-color: #FDD200;
	margin: 5px;
	padding: 0;
	text-align: center;
	list-style: none;
}


li:focus {
	background-color: red;
}


li:hover {
	background-color: blue;
}



section {
	clear: left;
}

p:first-line {
	color: red;
}

p:first-letter{
	color: blue;
}


:link{
	color: #009688;
}

a.externo:visited{
	color: red;
}

