* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100px;
	background-color: #333333;
	position: fixed;
	z-index: 6;
}

#logo {
	width: 100px;
	height: 60px;
	background-color: #555555;
	position: relative;
	left: 15px;
	top: 15px;
	color: #FFFFFF;
}

nav {
	width: 100%;
	height: 35px;
	background-color: #66CC00;
	position: relative;
	top: 35px; 

}

main {
	width: 100%;
	height: 500px;
	background-color: #999999;
	position: relative;
	top: 130px;
}

#Sec01 {
	width: 200px;
	height: 230px;
	background-color: #CCCCCC;
	position: relative;
	top: 15px;
	left: 15px;
	float: left;

}

#Sec02 {
	width: 380px;
	height: 230px;
	background-color: #CCCCCC;
	position: relative;
	top: 15px;
	left: 40px;
	float: left;

}


#Art01 {
	width: 130px;
	height: 200px;	
	background-color: #FFFFFF;
	position: relative;
	left: 15px;
	top: 15px;
	float: left;
}

#Art02 {
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	position: absolute;
	left: 160px;
	top: 15px;

	
}


aside {
	width: 250px;
	height: 230px;
	background-color: #CCCCCC;
	position: relative;
	top: 15px;
	left: 75px;
	float: left;
}

#Sec03 {
	width: 890px;
	height: 90px;	
	background-color: #CCCCCC;
	position: relative;
	top: 30px;
	left: 15px;
	float: left;
}

footer {
	width: 100%;
	height: 30px;
	background-color: #7A7A7A;
	position: relative;
	clear: left;


}
