
header {
	border: solid 2px;
	border-left-color: red;
	border-left-width: 10px;
	margin-bottom: 20px;

	  	
}


.boton {
	height: 30px;
	width: 100%;
}


.contenedor {
	border: solid 2px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5%;
	background-color: #E6E6E6;
}


.bordeRojo {
	border: solid 5px red;
    width: 175px; 

 }


.bordeVerde {
	border: solid 5px green;
	width: 175px;
}	


.boton button {
	display: block;
	background-color: #E0F2F7;
	border: 1px solid #04B486;
	position: relative;
	float: left;
	padding: 5px;
	margin: 10px;
	margin-top: 2px; 
	
	
	
}


.boton button:hover{
		background-color: #F3E2A9;
}