<label>Dias de permanencia<input type="number" name="pato"></label>
<label>Rango <input type="range" min="0" max="10"></label>



<h1>Formulario</h1>


<datalist id="listaNav">
	<option value="IE">
	<option value="Chrome">
	<option value="Safari">
</datalist>
<input list="listaNav">



