	body{
			font: 13px arial, sans-serif;
		}
		
		#encabezado, #pie {
			width: 100%;
			padding: 10px;
			background: #BEB2B2;
			display: flex;
		}

		#encabezado ul{
			margin-left: auto;
		}

		#encabezado li{
			margin-left: auto;
		}

		#pie{
			background-color: #5BA85F
		}

		main {
			width: 100%;
			background:#B0C6E4;
			height: 300px;
		}
