header{
	background-color: #333333
}

header h1 {
	color: #FF3366;
}


nav {
	background-color: #FF3366;
	height: 60px;
	
}
	


nav ul li {
	
	background-color: #FF3366;
	list-style-type: none;
	display: block;
	float: left;
	padding: 20px ;


}



section p {

	
	background-image: url(../img/dibujoauto.jpg);
	background-repeat: no-repeat;
	background-position: 20% 60%;
	/*background-attachment: fixed;

	/*
	background: url(../img/dibujoauto.jpg) no-repeat;
	*/
}


#chat {
	background-image: url(../img/chat.png);
	background-size: 25px;
	background-repeat: no-repeat; 
	padding: 0 0 0 20px;
	display: block;
	/*
	float: right;
	*/
	position: 90% 95%;
	
}


footer {
	background-color: #888888;
	width: 100%;
	height: 10%;
}